            <table class="table table-dark">
        	  <thead>
        	    <tr>
        	      <th scope="col">Invoice ID</th>
        	      <th scope="col">Product ID</th>
        	      <th scope="col">Product Name</th>
        	      <th scope="col">Receiver Name</th>
        		  <th scope="col">Address</th>
        		  <th scope="col">Phone</th>
        		  <th scope="col">Amount</th>
        		  <th scope="col">Status</th>
        	    </tr>
        	  </thead>
        	  <% for(var i=0; i<invoice.length; i++){ %>
        	  <tbody>
        	    <tr>
        	      <td><%= invoice[i].invoice_id%></td>
        	      <td><%= invoice[i].product_id%></td>
        	      <td><%= invoice[i].product_name%></td>
        		  <td><%= invoice[i].name%></td>
        		  <td><%= invoice[i].address%></td>
        		  <td><%= invoice[i].phone%></td>
        		  <td><%= invoice[i].amount%></td>
        		  <td>
        		  	<%if(invoice[i].status == 'pending'){ %>
        				<a href="/Delivery/Delivery_home/delivered/<%= invoice[i].invoice_id %>" class="btn btn-danger">Pending</a>
        				<% } else{ %>
        					<label>Delivered</label>
        					<% } %>

        		  </td>
        	    </tr>
        	</tbody>
        <% } %>
        </table>
